{% extends "base.html" %}
{% block title %} {{ block.super }} test {% endblock %}
{% block body %}
        <h1>Hello 1</h1>
        {{ name | title }}
        <br />
        {{ my_dict.unu }}
        {{ my_dict.doi }}
        {{ my_dict.no_key }}
        <br /> Lista
        {{ my_list.0 }}
        {{ my.list.100 }}
        <br />
        {{ my_func }}
        {{ request.user }}
        {{ scoala }}
        <div>
        {{ request.GET }}
        {{ request.POST}}
        {{ request.session.hello }}
</div>
{% endblock %}