{% extends "base.html" %}
{% load filtre_curs %}

{% block title %} {{student}} {% endblock %}
{% block body %}
        {{ student | my_title:"aaa" }}
        {% my_tag %}
        <div>
            <h1>Cursuri</h1>
            <ul>
             {% for curs in student.cursuri.all %}
                <li> {{ curs }} </li>
                {% empty %} <li>Nu sunt cursuri asociate acestui student </li>
             {% endfor %}
             </ul>
        </div>
        <div>
            <a href="{% url 'student_list' %}">Inapoi la pagina principala</a>
        </div>
        {% include 'includes/sidebar.html' %}
{% endblock %}